.button {
  position: relative;
  border: none;
  border-radius: 5px;
  padding-block: 10px;
  padding-inline: 20px;
  outline: none;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  cursor: pointer;
  transition-duration: var(--transition-duration);
  min-height: 30px;

  &:hover {
    filter: brightness(1.1);
  }
  &:active {
    transition-duration: 0s;
    filter: brightness(0.8);
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;

    &:hover {
      filter: brightness(1);
    }
  }
}