#app {
  height: 100dvh;
  width: 100dvw;
  overflow: hidden;

  font-family: SFProDisplay, sans-serif;
}

.page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex: 1;
  overflow-y: auto;
  scroll-behavior: smooth;
}

h2 {
  font-size: 18px;
  @include respond-to('tablet') {
    font-size: 18px;
  }
}

p {
  font-size: 14px;
}