body {
  font-family: SFProDisplay, sans-serif;
}

#app {
  height: 100dvh;
  width: 100dvw;
  //overflow: hidden;


}



main {
  display: flex;
  flex: 1;
  overflow-y: auto;
  scroll-behavior: smooth;
}

h2 {
  font-size: 18px;
  @include respond-to('tablet') {
    font-size: 18px;
  }
}

p {
  font-size: 14px;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  filter: brightness(0.8);
  background: none;
  border: none;
  color: var(--header-text-color);
  padding: 0;
  margin: 0;
  &:hover {
    color: #9484bd;
    cursor: pointer;
  }
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--chat-bg-color);
}

::-webkit-scrollbar-thumb {
  background: var(--message-bg-color);
}