body {
  font-family: SFProDisplay, sans-serif;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  width: 100dvw;
  //overflow: hidden;


}




h2 {
  font-size: 18px;
  @include respond-to('tablet') {
    font-size: 18px;
  }
}

p {
  font-size: 14px;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--chat-bg-color);
}

::-webkit-scrollbar-thumb {
  background: var(--message-bg-color);
}