@import "../../styles/mixins";
.message {
  display: inline-flex;
  align-items: flex-end;
  gap: 12px;
  max-width: 80%;
  margin-right: auto;
  animation: lefttoright 0.4s ease-in-out;

  //&[data-loaded] {
  //  animation: none;
  //}

  &--self {
    margin-right: 0;
    margin-left: auto;
    flex-direction: row-reverse;
    animation: righttoleft 0.4s ease-in-out;

    & .message__block {
      border-radius: 10px 10px 0 10px;

      @include respond-from('tablet') {
        border-radius: 10px 10px 10px 0;
      }
    }

    @include respond-from('tablet') {
      margin-right: auto;
      margin-left: 0;
      flex-direction: row;
      animation: lefttoright 0.4s ease-in-out;
    }

  }

  &__block {
    min-width: 120px;

    padding-block: 10px;
    padding-inline: 20px;

    color: black;
    background-color: var(--color-peach-color);
    border-radius: 10px 10px 10px 0;
    word-break: break-word;
    transition: var(--transition-duration);

    &:hover {
      transform: translateX(20px);
    }
  }
  &__username {
    color: inherit;
    font-size: 12px;
  }

  &__content {
    margin-block: 4px;
  }

  &__datetime {
    color: inherit;
    opacity: 70%;
    font-size: 12px;
    align-self: flex-end;
  }

}
