@import "../../../styles/mixins";

.header {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 20px;

  background-color: var(--header-bg-color);
  color: var(--header-text-color);


  @include respond-to('mobile') {
    gap: 30px;
    padding: 20px 5px;
  }
}