.avatar {
  width: 48px;
  height: 48px;
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center;

  &--rounded {
    border-radius: 50%;
  }

  &--small {
    width: 24px;
    height: 24px;
  }
}