html {
  --theme-header-background: var(--color-purple-dark);
  --theme-header-color: #fff;
  --theme-body-background: var(--color-purple-darken);
  --theme-body-color: #000;
  --theme-action-background: var(--color-purple-light);
  --theme-action-color: #fff;
}

body {
  margin: 0;
  background-color: #fff;
  color: #333;
  font-size: 15px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 20px;
  background-color: var(--theme-body-background);
  max-height: 100dvh;

  overflow-y: hidden;
}

#root {
  height: 100dvh;
  overflow: hidden;
}

#App {
  display: flex;
  height: 100dvh;
  width: 100dvw;
  overflow: hidden;

}

.activity {
  max-height: 100dvh;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  position: relative;
  z-index: 1;
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  max-width: 100dvw;
  max-height: 100dvh;
}


form {
  margin: 0;
}

input {
  border: 0;
  outline: none;
  width: 100%;
  padding: 14px;
}


