:root {
  --color-purple-dark: #423c56;
  --color-purple-darken: #342f43;
  --color-purple-light: #664867;
  --color-pink-dark: #996781;
  --color-pink-color: #dc92a6;
  --color-peach-color: #e8c0be;

  --transition-duration: 0.2s;
}