.container {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.textarea {
  padding: 10px;
  border: 1px solid #e8e8e8;
  border-radius: 10px;
  width: 100%;
  min-height: 150px;
  outline: none;
  resize: none;
}

.symbolsCounter {
  display: inline;
  font-size: 12px;
  margin-left: auto;
  color: var(--color-gray-color)
}

.overflow {
  color: var(--color-red-color);
}