.fileItem {
  display: flex;
  align-items: center;
  gap: 5px;

  color: inherit;
  background-color: var(--message-bg-color);

  border-radius: 50px;
  padding-right: 15px;
  white-space: nowrap;

  &__title {
    font-size: 12px;
  }

  &__deleteButton {
    color: inherit;
  }
}